header {
  background-color: #2b2b2b;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

h1 {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 72px;
  margin: 0;
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: text-shadow 0.2s ease-out;
}

h1:hover {
  color: #D499B9;
  text-shadow:
       4px 4px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}

ul {
  padding: 0;
  position: absolute;
  bottom: 0;
}

li {
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0 20px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-drop {
  background-color: #D499B9;
  display: none;
  position: absolute;
  top: 18px;
  height: 80px;
  min-width: 100px;
  padding: 12px 16px;
}

.menu-content {
  display: block;
}

.menu:hover .menu-drop {
  display: block;
}

input {
  border: none;
  caret-color: #D499B9;
  outline: none;
  transition: transform 0.2s ease-out;
}

input:focus {
  transform: scale(1.3);
}

.username {
  margin-top: 12px;
}

.password {
  margin-top: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #D499B9;
}

.cards-section-title {
  font-weight: 700;
  margin: 210px 20px 60px;
}

body {
  background-color: #efefef;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0px 20px 522px;
}

article {
  background-color: #fff;
  display: inline-block;
  border:2px solid #000;
  position: relative;
  transition: all 0.2s ease-out;
}

article:hover {
  border:2px solid #D499B9;
}

img {
  display: block;
  width: 100%;
}

.card-image {
  outline: none;
  transition: transform 0.5s ease-out;
}

.card-image:focus{
  box-sizing: border-box;
  border: 12px solid #D499B9;
  height: 100%;
  width: auto;
  position: fixed;
  bottom: calc(50% - 50%);
  transform: scale(0.6);
  z-index: 999;
}

.image-hover-text {
  display: none;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 140px;
  margin: 0 auto;
  width: max-content;
}

article:hover .image-hover-text{
  display: block;
}

.arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
}

h2, h3, h4, h5, textarea {
  font-family: 'Roboto', sans-serif;
  margin-left: 15px; 
  margin-right: 15px;   
}

h3, h4 {
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 5px 15px 30px;
}

h4 {
  font-size: 12px;
  margin: 0 15px;
}

h5 {
  font-weight: 300;
  margin: 0 15px;
}

textarea {
  box-sizing: border-box;
  caret-color: #D499B9;
  font-weight: 400;
  height: 70px;
  margin: 30px 15px;
  outline: none;
  resize: none;
  width: calc(100% - 30px);
  transition: transform 0.2s ease-out;
}

textarea:focus {
  transform: scale(1.3);
}

.image-text {
  color: #fff;
  position: absolute;
  right: 10px;
  margin: 0;
}

h4.image-text {
  top: 10px;
}

h2.image-text {
  top: 30px;
}

.recipient-name {
  margin-bottom: 3px;
}

.playlist-name {
  margin-top: 5px;
  margin-bottom: 30px;
}

.num-attachments {
  color: #D499B9;
  font-weight: 400;
  margin-bottom: 20px;
}

.bottom-page-link {
  color: #000;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.bottom-page-link:hover {
  color: #D499B9;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0px 20px 522px;
}

}

@media only screen and (max-width: 800px) {
  section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0px 20px 522px;
}

}

@media only screen and (max-width: 600px) {
  section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 0px 20px 522px;
}

h1 {
  top: 20px;
  left: 50%;
  margin-left: -82.65px

}

ul {
left: 50%;
margin-left: -204.72px
}

.card-image:focus {
  height: 50%;
  bottom: calc(50% - 25%);
  transform: scale(1.0);
}

/*.card-image:focus{
  box-sizing: border-box;
  border: 12px solid #D499B9;
  height: 100%;
  width: auto;
  position: fixed;
  bottom: calc(50% - 50%);
  left: calc(50% - );
  transform: scale(0.6);
  z-index: 999;
}
*/
textarea:focus {
  transform: scale(1.2);
}

}


@media only screen and (max-width: 470px) {
  .menu-drop {
    display: none;
  }

  ul {
    width: 250px;
    margin-top: 20px;
    margin-left: -100px;
  }
}







